html,
body {
  overflow: hidden;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

.video-container {
  background-color: #202020;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  display: grid;
  place-items: center;
}

.video {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  object-fit: fill;
}
